<li class="column is-one-third">
  <div class="card mb-2">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <%= image_tag concert.image_url, alt: "Concert photo for #{concert.title}" %>
          </figure>
        </div>

        <div class="media-content">
          <p class="title is-4"><%= concert.title %></p>
          <p class="subtitle is-6"><%= concert.starts_at.to_formatted_s :long_ordinal %></p>
        </div>
      </div>

      <%= render partial: "available_ticket",
                 collection: concert.available_ticket_types,
                 as: "ticket" %>

      <%= render partial: "remaining_tickets",
                 locals: { concert: concert } %>
    </div>

    <footer class="card-footer">
      <p class="card-footer-item">
        <% classes = "button is-primary is-outlined is-medium is-fullwidth is-rounded" %>
        <%=
          link_to_unless concert.sold_out?, "Buy tickets", new_concert_booking_path(concert), class: classes do |name, _options, html_options|
            button_tag name, html_options.merge(disabled: true, type: "button")
          end
        %>
      </p>
    </footer>
  </div>
</li>
