<li class="column is-half">
  <div class="card mb-2">
    <div class="card-content">
      <p class="title mb-5">
        <%= concert.title %>
      </p>

      <p class="subtitle">
        <%= concert.starts_at.to_formatted_s :long_ordinal %>
      </p>

      <%= render partial: "available_ticket",
                 collection: concert.available_ticket_types,
                 as: "ticket" %>

      <p class="mt-1">Tickets remaining: <%= concert.remaining_ticket_count %></p>
    </div>

    <footer class="card-footer">
      <p class="card-footer-item">
        <%= link_to "Book", new_concert_booking_path(concert), class: "button is-primary is-light is-outlined is-medium is-fullwidth is-rounded" %>
      </p>
    </footer>
  </div>
</li>
